---
import Button from "../components/Button.astro";
---

<section id="contact" class="w-full">
  <div class="container mx-auto border-t px-4 py-12 md:px-6 md:py-24 lg:py-32">
    <h2
      class="mb-12 text-center text-3xl font-bold tracking-tighter sm:text-5xl"
    >
      Contactate con nuestro equipo
    </h2>
    <div class="mx-auto max-w-2xl rounded-lg bg-white p-8 shadow-lg">
      <form class="space-y-6" aria-labelledby="contact-form">
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
          <div class="space-y-2">
            <label
              for="first-name"
              class="block text-sm font-medium text-gray-700">Nombre</label
            >
            <input
              id="first-name"
              name="first-name"
              type="text"
              autocomplete="given-name"
              placeholder="Ingresá tu nombre"
              required
              aria-required="true"
              aria-invalid="false"
              class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-primary focus:outline-none focus:ring-primary sm:text-sm"
            />
            <p id="first-name-error" class="hidden text-sm text-red-600">
              Este campo es obligatorio.
            </p>
          </div>
          <div class="space-y-2">
            <label
              for="last-name"
              class="block text-sm font-medium text-gray-700">Teléfono</label
            >
            <input
              id="last-name"
              name="last-name"
              type="text"
              autocomplete="family-name"
              placeholder="Tu número de teléfono (opcional)"
              aria-invalid="false"
              class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-primary focus:outline-none focus:ring-primary sm:text-sm"
            />
          </div>
        </div>
        <div class="space-y-2">
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Email</label
          >
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            placeholder="Ingresá tu correo"
            required
            aria-required="true"
            aria-invalid="false"
            class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-primary focus:outline-none focus:ring-primary sm:text-sm"
          />
          <p id="email-error" class="hidden text-sm text-red-600">
            Por favor, ingresa un correo válido.
          </p>
        </div>
        <div class="space-y-2">
          <label for="message" class="block text-sm font-medium text-gray-700"
            >Mensaje</label
          >
          <div>
            <div class="flex items-center space-x-2">
              <p class="text-sm text-gray-500">¿En qué podemos ayudarte?</p>
            </div>
            <textarea
              id="message"
              name="message"
              rows="4"
              placeholder="Quiero agendar una reunión. Tengo una duda. Otra consulta..."
              required
              aria-required="true"
              aria-invalid="false"
              class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-primary focus:outline-none focus:ring-primary sm:text-sm"
            ></textarea>
            <p id="message-error" class="hidden text-sm text-red-600">
              Este campo es obligatorio.
            </p>
          </div>
        </div>
        <div class="mt-12 text-center">
          <button
            type="submit"
            class="hover:bg-primary-dark inline-flex w-full justify-center rounded-md border border-transparent bg-primary px-4 py-2 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
            >Enviar</button
          >
        </div>
      </form>
    </div>
  </div>
</section>
