---
import Button from "../components/Button.astro";
import MetaLogo from "../images/Meta-Logo.png";
import PhoneScreen2 from "../images/phone2.png";
import { Image } from "astro:assets";

const businessTypes = [
  "negocio",
  "restaurante",
  "tienda",
  "consultorio",
  "taller",
  "gimnasio",
];

// Initial values
const initialBusinessName = businessTypes[0];
---

<section
  class="text-center md:text-left bg-secondary md:h-screen flex flex-col justify-center"
>
  <div
    class="container mx-auto py-24 p-4 lg:max-w-xl md:max-w-6xl xl:max-w-7xl w-full md:grid md:grid-cols-12 md:gap-4 md:items-stretch"
  >
    <div class="md:col-span-6 flex flex-col justify-between">
      <div>
        <h1 class="text-6xl italic font-bold md:text-8xl">HERMES</h1>
        <p class="text-2xl not-italic mt-6 md:text-4xl 2xl:text-5xl">
          Tu <span id="businessType" class="font-bold"
            >{initialBusinessName}</span
          ><br /> ahora también al alcance de tus clientes
        </p>
        <p class="text-md md:text-xl 2xl:text-3xl mt-4">
          Generamos agentes personalizados que a través de Whatsapp te permiten
          manejar tu negocio de manera más eficiente
        </p>
        <p class="text-md mt-4 md:text-xl">
          Trabajá tranquilo, <span class="italic font-bold">HERMES</span> se encarga
          del resto
        </p>
      </div>
      <div>
        <div
          class="h-12 flex text-text items-center font-bold gap-2 w-full mt-6 md:text-md justify-center md:justify-start"
        >
          Funcionando gracias a <Image
            src={MetaLogo}
            alt="Meta Logo"
            class="h-full aspect-auto w-auto"
          />
        </div>
        <div class="flex gap-2 md:gap-8 mt-6 w-full flex-col md:flex-row">
          <div>
            <a href="#cta" class="w-full">
              <Button variant="secondary">
                <span class="font-bold text-sm md:text-lg"
                  >QUIERO MI ASISTENTE</span
                >
              </Button>
            </a>
          </div>
          <div>
            <a href="#cta" class="w-full">
              <Button class="px-16 whitespace-nowrap" variant="secondary">
                <span class="font-bold text-sm md:text-lg">VENTAS</span>
              </Button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="md:col-span-3"></div>
    <div class="w-full mt-6 md:mt-0 md:col-span-3 grid items-end">
      <Image
        id="phoneScreen"
        src={PhoneScreen2}
        alt="Phone screen example"
        class="w-full aspect-[9/20] object-cover rounded-xl shrink-0"
      />
    </div>
  </div>
</section>

<script>
  const businessTypes = [
    "negocio",
    "restaurante",
    "tienda",
    "consultorio",
    "taller",
    "gimnasio",
  ];
  const phoneScreens = [
    "/src/images/phone2.png",
    "/src/images/phone2.png",
    "/src/images/phone2.png",
  ];

  let currentIndex = 0;

  function updateContent() {
    const businessTypeElement = document.getElementById("businessType");

    if (businessTypeElement) {
      businessTypeElement.textContent = businessTypes[currentIndex];
    }

    currentIndex = (currentIndex + 1) % businessTypes.length;
  }

  // Update content every 2,5 seconds
  setInterval(updateContent, 2000);
</script>
