---
import Button from "../components/Button.astro";
import MetaLogo from "../images/Meta-Logo.png";
// import PhoneScreen2 from "../images/webm/junbbweb.webm";
import juanbbweb from "../images/webm/phone.webm";
import { Image } from "astro:assets";

const businessTypes = [
  "negocio",
  "restaurante",
  "tienda",
  "consultorio",
  "taller",
  "gimnasio",
];

// Initial values
const initialBusinessName = businessTypes[0];
---

<section
  class="flex flex-col justify-center bg-secondary py-16 text-center tracking-tighter md:h-dvh md:py-24 md:text-left"
>
  <div
    class="container mx-auto h-full w-full auto-rows-fr md:grid md:max-w-6xl md:grid-cols-12 md:items-stretch md:gap-4 xl:max-w-7xl"
  >
    <div class="flex h-full flex-col justify-center p-4 sm:p-0 md:col-span-8">
      <h1
        class="animate-fade-in text-6xl font-bold italic text-primary md:text-8xl"
      >
        HERMES
      </h1>
      <p
        class="animate-fade-in animate-delay-200 mt-6 text-2xl md:text-4xl 2xl:text-5xl"
      >
        Tu <span
          id="businessType"
          class="font-bold italic text-primary transition-opacity duration-500 ease-in-out"
          >{initialBusinessName}</span
        ><br /> ahora más cerca de tus clientes
      </p>
      <p
        class="text-md animate-fade-in animate-delay-400 mt-4 md:text-xl 2xl:text-3xl"
      >
        Generamos agentes personalizados que, a través de <span
          class="font-bold text-primary">Whatsapp</span
        >, te permiten manejar tu negocio de manera más eficiente
      </p>
      <p
        class="text-md animate-fade-in animate-delay-600 mt-4 md:text-xl 2xl:text-3xl"
      >
        Trabajá tranquilo, <span class="font-bold italic">HERMES</span> se encarga
        del resto
      </p>

      <!-- Meta -->
      <div
        class="md:text-md animate-fade-in animate-delay-800 mt-6 flex h-12 items-center justify-center gap-2 font-bold text-text md:justify-start"
      >
        Funcionando gracias a <Image
          src={MetaLogo}
          alt="Meta Logo"
          class="aspect-auto h-full w-min"
        />
      </div>

      <!-- Botones -->
      <div
        class="animate-fade-in animate-delay-1000 mt-6 flex gap-2 md:flex-row md:gap-8"
      >
        <a href="#cta" class="">
          <Button variant="primary">
            <span class="text-sm font-semibold tracking-wide md:text-lg"
              >QUIERO MI ASISTENTE</span
            >
          </Button>
        </a>
        <a href="#cta" class="">
          <Button class="whitespace-nowrap" variant="primary">
            <span class="px-2 text-sm font-semibold tracking-wide md:text-lg"
              >COMUNICARME CON VENTAS</span
            >
          </Button>
        </a>
      </div>
    </div>
    <div
      class="animate-delay-1200 animate-fade-in mt-6 flex h-full items-end p-4 sm:p-0 md:col-span-4 md:mt-0"
    >
      <!-- <Image
        id="phoneScreen"
        src={juanbbweb}
        inferSize
        alt="Phone screen example"
        class="aspect-[9/20] h-full rounded-xl object-contain transition-opacity duration-500 ease-in-out"
      /> -->
      <video
        id="phoneScreen"
        src={juanbbweb}
        mediagroup="phoneScreen"
        autoplay
        loop
        muted
        playsinline
        class="h-full rounded-xl object-contain"></video>
    </div>
  </div>

  <style>
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .animate-fade-in {
      animation: fadeIn 0.5s ease-out forwards;
      opacity: 0;
    }

    .animate-delay-200 {
      animation-delay: 0.2s;
    }
    .animate-delay-400 {
      animation-delay: 0.4s;
    }
    .animate-delay-600 {
      animation-delay: 0.6s;
    }
    .animate-delay-800 {
      animation-delay: 0.8s;
    }
    .animate-delay-1000 {
      animation-delay: 1s;
    }
    .animate-delay-1200 {
      animation-delay: 1.2s;
    }
  </style>

  <script>
    const businessTypes = [
      "negocio",
      "cancha de fútbol",
      "tienda",
      "consultorio",
      "taller",
      "gimnasio",
    ];
    const phoneScreens = [
      "/src/images/phone2.png",
      "/src/images/phone2.png",
      "/src/images/phone2.png",
      "/src/images/phone2.png",
      "/src/images/phone2.png",
      "/src/images/phone2.png",
    ];

    let currentIndex = 0;

    function updateContent() {
      const businessTypeElement = document.getElementById("businessType");

      if (businessTypeElement) {
        businessTypeElement.style.opacity = "0";

        setTimeout(() => {
          businessTypeElement.textContent = businessTypes[currentIndex];
          businessTypeElement.style.opacity = "1";
        }, 250);
      }

      currentIndex = (currentIndex + 1) % businessTypes.length;
    }

    setInterval(updateContent, 3000);
  </script>
</section>
