---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Advantages from "../sections/Advantages.astro";
import StickyCTA from "../components/StickyCTA.astro";
import Contact from "../sections/Contact.astro";
import Prices from "../sections/Prices.astro";
import Banner from "../components/Banner.astro";
import WhoWeAre from "../sections/WhoWeAre.astro";
import OurProduct from "../sections/OurProduct.astro";
import Usage from "src/sections/Usage.astro";
import FAQ from "src/sections/FAQ.astro";
import WhatsappLinkWrapper from "@components/WhatsappLinkWrapper.astro";
---

<Layout title="Hermes">
  <main>
    <div class="relative min-h-dvh w-full bg-white">
      <div
        class="absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
      >
      </div>
      <Hero />
    </div>

    <WhoWeAre />
    <OurProduct />
    <!-- <Usage /> -->

    <!-- <Banner>
      <h1
        class="text-3xl font-medium uppercase italic tracking-tighter md:text-6xl"
      >
        Descubrí los beneficios de <span class="font-bold italic text-white"
          >HERMES</span
        >
      </h1>
    </Banner> -->

    <Advantages />
    <Banner>
      <h1
        class="text-3xl font-medium uppercase italic tracking-tighter md:text-6xl"
      >
        ¿Qué esperás para agilizar tu negocio?
      </h1>
      <div class="">
        <WhatsappLinkWrapper>
          <button
            type="button"
            class:list={[
              `grow px-4 py-2 rounded-3xl transition-all duration-300 ease-in-out hover:scale-105 hover:outline hover:outline-2 hover:outline-offset-2`,
              "bg-background border-2 outline-secondary",
            ]}
          >
            <span>¡Contactate con nosotros!</span>
          </button>
        </WhatsappLinkWrapper>
      </div>
    </Banner>

    <!-- <Prices /> -->
    <FAQ />
    <Contact />
    <StickyCTA />
  </main>
</Layout>
