---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Advantages from "../sections/Advantages.astro";
import AddToMyBusiness from "../sections/AddToMyBusiness.astro";
import WorksForMyBusiness from "../sections/WorksForMyBusiness.astro";
import StickyCTA from "../components/StickyCTA.astro";
import NavBar from "../components/NavBar.astro";
import Contact from "../sections/Contact.astro";
import Prices from "../sections/Prices.astro";
import Button from "../components/Button.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Hermes">
  <main>
    <!-- <NavBar /> -->
    <div class="relative min-h-dvh w-full bg-white">
      <div
        class="absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
      >
      </div>
      <Hero />
    </div>

    <!-- Line -->

    <Banner>
      <h1
        class="text-3xl font-medium uppercase italic tracking-tighter md:text-6xl"
      >
        Descubrí los beneficios de <span class="font-bold italic text-white"
          >HERMES</span
        >
      </h1>
    </Banner>

    <Advantages />
    <!-- <AddToMyBusiness /> -->
    <!-- <WorksForMyBusiness /> -->
    <Banner>
      <h1
        class="text-4xl font-medium uppercase italic tracking-tighter md:text-6xl"
      >
        ¿Qué esperás para agilizar tu negocio?
      </h1>
      <div>
        <a href="mailto:stovia.tandil@gmail.com">
          <Button variant="secondary">
            <span>¡Contactate con nosotros!</span>
          </Button>
        </a>
      </div>
    </Banner>

    <Prices />
    <Contact />
    <StickyCTA />
  </main>
</Layout>
