---
import Layout from "../layouts/Layout.astro";
import Hero from "./Hero.astro";
import Advantages from "./Advantages.astro";
import AddToMyBusiness from "./AddToMyBusiness.astro";
import WorksForMyBusiness from "./WorksForMyBusiness.astro";
import CTA from "./CTA.astro";
import StickyCTA from "../components/StickyCTA.astro";
---

<Layout title="TUBO">
  <main>
    <Hero />
    <Advantages />
    <AddToMyBusiness />
    <!-- <WorksForMyBusiness /> -->
    <CTA />
    <!-- <StickyCTA /> -->
  </main>
</Layout>
