---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de Privacidad">
  <section class="container mx-auto px-4 py-12">
    <h1 class="mb-4 text-3xl font-bold">Política de Privacidad</h1>
    <p>Última actualización: 2024/09/01</p>

    <small>
      Este sitio está protegido por reCAPTCHA y se aplican la
      <a href="https://policies.google.com/privacy">Politica de privacidad</a> y
      los
      <a href="https://policies.google.com/terms">Terminos de Servicio</a> de Google.
    </small>

    <h2 class="mb-2 mt-6 text-2xl font-semibold">Introducción</h2>
    <p>
      En Hermes, valoramos su privacidad y estamos comprometidos a proteger sus
      datos personales. Esta política de privacidad describe cómo recopilamos,
      usamos y compartimos su información.
    </p>

    <h2 class="mb-2 mt-6 text-2xl font-semibold">Recopilación de Datos</h2>
    <p>
      Recopilamos varios tipos de información para diversos fines, incluyendo:
    </p>
    <ul class="list-inside list-disc">
      <li>
        Información personal, como nombre, dirección de correo electrónico,
        número de teléfono.
      </li>
    </ul>

    <h2 class="mb-2 mt-6 text-2xl font-semibold">Uso de Datos</h2>
    <p>Utilizamos los datos recopilados para:</p>
    <ul class="list-inside list-disc">
      <li>Proveer y mantener nuestros servicios.</li>
      <li>Notificarle sobre cambios en nuestros servicios.</li>
      <li>Proveer soporte al cliente.</li>
      <li>Monitorear el uso de nuestros servicios.</li>
      <li>Detectar, prevenir y abordar problemas técnicos.</li>
    </ul>

    <h2 class="mb-2 mt-6 text-2xl font-semibold">Compartir Datos</h2>
    <p>
      No compartimos su información personal con terceros, excepto en las
      siguientes circunstancias:
    </p>
    <ul class="list-inside list-disc">
      <li>Con su consentimiento.</li>
      <li>Para cumplir con una obligación legal.</li>
      <li>Para proteger y defender nuestros derechos o propiedad.</li>
      <li>
        Para prevenir o investigar posibles infracciones en relación con
        nuestros servicios.
      </li>
    </ul>

    <h2 class="mb-2 mt-6 text-2xl font-semibold">Seguridad de Datos</h2>
    <p>
      La seguridad de sus datos es importante para nosotros. Implementamos
      medidas de seguridad adecuadas para proteger su información personal. Sin
      embargo, recuerde que ningún método de transmisión por Internet o método
      de almacenamiento electrónico es 100% seguro.
    </p>

    <h2 class="mb-2 mt-6 text-2xl font-semibold">Contacto</h2>
    <p>
      Si tiene alguna pregunta sobre esta política de privacidad, por favor
      contáctenos:
    </p>
    <ul class="list-inside list-disc">
      <li>Por correo electrónico: stoviatandil@gmail.com</li>
    </ul>

    <a href="/">
      <button class="mt-8 rounded-md bg-primary px-4 py-2 text-white">
        Volver al inicio
      </button>
    </a>
  </section>
</Layout>
