---
type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<div class="flex items-center md:block">
  <div class="flex h-32 items-center justify-center p-2 md:p-4">
    <slot />
  </div>
  <h2 class="text-md hidden text-center font-bold md:block md:text-3xl">
    {title}
  </h2>
  <p class="text-md text-right md:text-center md:text-lg">{description}</p>
</div>
