<section class="text-center">
  <div class="m-4 rounded-xl border bg-primary px-4">
    <div
      class="container mx-auto flex w-full flex-col gap-11 py-12 md:max-w-6xl md:py-24"
    >
      <slot />
    </div>
  </div>
</section>
