---

---

<footer class="bg-primary py-12 text-secondary">
  <div class="container mx-auto px-4">
    <div class="mb-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <div>
        <h3 class="mb-4 text-lg font-semibold">Navegación</h3>
        <ul class="space-y-2">
          <li><a href="#home" class="hover:text-white">Inicio</a></li>
          <li><a href="#quienes-somos" class="hover:text-white">Quiénes Somos</a></li>
          <li><a href="#usage" class="hover:text-white">Demos</a></li>
          <li><a href="#ventajas" class="hover:text-white">Ventajas</a></li>
          <li><a href="#faq" class="hover:text-white">FAQ</a></li>
          <li><a href="#contact" class="hover:text-white">Contacto</a></li>
        </ul>
      </div>
      <div>
        <h3 class="mb-4 text-lg font-semibold">Contacto</h3>
        <p>Email: stoviatandil@gmail.com</p>
      </div>
      <div>
        <h3 class="mb-4 text-lg font-semibold">Síguenos</h3>
        <div class="flex space-x-4">
          <a href="https://www.facebook.com/profile.php?id=61565144558144" aria-label="Facebook" target="_blank" rel="noopener" class="hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z"></path></svg>
          </a>
          <a href="https://www.instagram.com/hermes.chatbot/" aria-label="Instagram" target="_blank" rel="noopener" class="hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"></path></svg>
          </a>
        </div>
      </div>
      <div>
        <svg width="45" height="23" viewBox="0 0 45 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.5246 0H0V0.190871L0.578158 1.24066L1.34904 2.29046L2.31263 3.14938L3.46895 3.91286L5.01071 4.48548L6.64882 4.67635L20.3319 4.77178L21.1991 5.15353L21.6809 5.63071L22.0664 6.39419V7.53942L21.97 7.92116L21.5846 8.49378L20.8137 9.06639L19.9465 9.25726L9.53961 9.3527V9.54357L10.0214 10.4025L10.985 11.7386L11.7559 12.4066L12.8158 13.1701L13.9722 13.6473L15.1285 13.9336L24.5717 14.029L25.1499 14.1245L25.8244 14.4108L26.3062 14.7925L26.788 15.7469V16.7967L26.6916 17.1784L26.3062 17.751L25.8244 18.2282L25.0535 18.5145L18.9829 18.61V18.8963L19.6574 20.0415L20.5246 21.1867L21.1028 21.6639L21.8737 22.2365L23.4154 23H33.5332H45L33.5332 7.15768L32.2805 5.53527L31.2206 4.48548L29.8715 3.34025L28.5225 2.38589L26.4989 1.3361L24.6681 0.66805L22.6445 0.190871L20.5246 0Z" fill="currentColor"></path>
        </svg>
      </div>
    </div>
    <div class="border-t border-secondary/30 pt-16 text-center md:text-left w-full">
      <p class="text-sm">© 2024 Hermes. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
