---

---

<div class="absolute left-1/2 top-10 border">
  <div class="sticky w-full bg-background">
    <nav>
      <ul class="flex justify-around border p-4">
        <li><a href="/" class="text-primary">HERMES</a></li>
        <div class="flex gap-4">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/">?</a></li>
        </div>
      </ul>
    </nav>
  </div>
</div>
