---

---

<nav class="p-4 ">
    <ul class="flex justify-around">
        <li><a href="/" class="text-primary">TUBO</a></li>
        <div class="flex gap-4">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a>
        </div>
        <li><a href="/">?</a></li>
    </li>
</nav>