---
const menuItems = [
  { href: "#home", text: "Inicio" },
  { href: "#quienes-somos", text: "Quiénes Somos" },
  { href: "#usage", text: "Demos" },
  { href: "#ventajas", text: "Ventajas" },
  { href: "#faq", text: "FAQ" },
  { href: "#contact", text: "Contacto" },
];
---

<nav
  class="fixed left-0 right-0 top-4 z-50 mx-auto max-w-3xl transition-all duration-300"
  id="navbar"
>
  <div
    class="mx-4 rounded-full bg-white/80 px-4 py-2 shadow-lg backdrop-blur-md transition-all duration-300"
    id="navbar-content"
  >
    <div class="flex items-center justify-between px-2">
      <a href="/" class="text-xl font-bold italic text-text">HERMES</a>
      <div class="hidden md:block">
        <ul class="flex space-x-4">
          {
            menuItems.map((item) => (
              <li>
                <a
                  href={item.href}
                  class="rounded-full px-3 py-2 text-sm font-medium text-gray-700 transition-colors hover:bg-primary hover:text-white"
                >
                  {item.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <button
        type="button"
        class="inline-flex items-center rounded-full p-2 text-gray-400 hover:bg-gray-100 hover:text-primary focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary md:hidden"
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <span class="sr-only">Abrir menú principal</span>
        <svg
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>

  <div
    class="hidden max-h-0 overflow-hidden transition-all duration-300 md:hidden"
    id="mobile-menu"
  >
    <div class="bg-white/80 px-2 py-3 backdrop-blur-md">
      {
        menuItems.map((item) => (
          <a
            href={item.href}
            class="block px-3 py-2 text-base font-medium text-gray-700 transition-colors hover:bg-primary hover:text-white"
          >
            {item.text}
          </a>
        ))
      }
    </div>
  </div>
</nav>

<script>
  const navbar = document.getElementById("navbar");
  const navbarContent = document.getElementById("navbar-content");
  const mobileMenuButton = document.querySelector(
    '[aria-controls="mobile-menu"]'
  );
  const mobileMenu = document.getElementById("mobile-menu");

  if (mobileMenuButton && mobileMenu && navbar && navbarContent) {
    mobileMenuButton.addEventListener("click", () => {
      const expanded =
        mobileMenuButton.getAttribute("aria-expanded") === "true" || false;
      mobileMenuButton.setAttribute("aria-expanded", (!expanded).toString());

      if (!expanded) {
        // Abrir el menú
        mobileMenu.classList.remove("hidden");
        mobileMenu.style.display = "block"; // Añadir esta línea
        setTimeout(() => {
          mobileMenu.style.maxHeight = mobileMenu.scrollHeight + "px";
          navbarContent.classList.remove("rounded-full", "shadow-lg");
          navbar.classList.remove("top-4");
          navbar.classList.add("top-0");
        }, 10);
      } else {
        // Cerrar el menú
        mobileMenu.style.maxHeight = "0px";
        setTimeout(() => {
          mobileMenu.classList.add("hidden");
          mobileMenu.style.display = "none"; // Añadir esta línea
          navbarContent.classList.add("rounded-full", "shadow-lg");
          navbar.classList.add("top-4");
          navbar.classList.remove("top-0");
        }, 300);
      }
    });

    // Cerrar el menú al hacer clic en un enlace
    mobileMenu.querySelectorAll("a").forEach((link) => {
      link.addEventListener("click", () => {
        mobileMenu.style.maxHeight = "0px";
        setTimeout(() => {
          mobileMenu.classList.add("hidden");
          navbarContent.classList.add("rounded-full", "shadow-lg");
          navbar.classList.add("top-4");
          navbar.classList.remove("top-0");
        }, 300);
        mobileMenuButton.setAttribute("aria-expanded", "false");
      });
    });

    // Cerrar el menú al hacer clic fuera de él
    document.addEventListener("click", (event) => {
      if (
        !mobileMenu.contains(event.target) &&
        !mobileMenuButton.contains(event.target) &&
        mobileMenu.style.maxHeight !== "0px"
      ) {
        mobileMenu.style.maxHeight = "0px";
        setTimeout(() => {
          mobileMenu.classList.add("hidden");
          navbarContent.classList.add("rounded-full", "shadow-lg");
          navbar.classList.add("top-4");
          navbar.classList.remove("top-0");
        }, 300);
        mobileMenuButton.setAttribute("aria-expanded", "false");
      }
    });
  }
</script>
