---
const { title, subtitle } = Astro.props;
---

<header class="my-6 text-center">
  <h2 class="text-3xl font-bold md:text-5xl">
    {title}
  </h2>
  <h3 class="mt-2 text-xl font-semibold md:text-2xl">
    {subtitle}
  </h3>
</header>
