---
import HermesIcon from "../components/icons/HermesIcon.astro";
---

<div class="fixed bottom-8 right-8 hidden md:block">
  <a href="#cta">
    <div
      class="group flex h-16 w-16 cursor-pointer items-center justify-center rounded-full bg-text p-2 transition-all duration-300 ease-in-out hover:w-64 hover:border hover:bg-primary"
    >
      <div
        class="absolute text-primary transition-opacity duration-300 group-hover:opacity-0"
      >
        <HermesIcon />
      </div>

      <h1
        class="text-white whitespace-nowrap font-semibold opacity-0 transition-opacity duration-300 group-hover:opacity-100"
      >
        Contactá con nosotros!
      </h1>
    </div>
  </a>
</div>
