---

---

<div class="fixed bottom-8 left-1/2 -translate-x-1/2">
  <div
    class="bg-text p-4 group rounded-full hover:bg-primary transition-all duration-300"
  >
    <p class="group-hover:hidden text-primary">Hermes</p>
    <h1 class="hidden group-hover:block font-semibold">
      Contacta con nosotros
    </h1>
  </div>
</div>
