---
import AdvantagesCard from "../components/AdvantagesCard.astro";
import LaptopIcon from "../components/icons/LaptopIcon.astro";
import WhatsappIcon from "../components/icons/WhatsappIcon.astro";
import ClockDollarIcon from "../components/icons/ClockDollarIcon.astro";
import AddToMyBusinessCard from "../components/AddToMyBusinessCard.astro";
---

<section class="h-screen bg-secondary text-center">
  <div
    class="container mx-auto flex h-full w-full flex-col gap-11 p-4 py-12 md:max-w-6xl md:py-24"
  >
    <h1 class="text-xl font-bold italic tracking-tighter md:text-4xl">
      ¿Cómo incorporo <span class="font-bold italic">HERMES</span> a mi negocio?
    </h1>
    <h2 class="text-base font-bold italic md:text-2xl">
      ¡Es muy fácil! Solo tenés que seguir estos pasos:
    </h2>
    <div class="grid h-full grid-cols-1 items-center gap-4 md:grid-cols-3">
      <AddToMyBusinessCard
        title="Desarrollo"
        description="Desarrollamos tu asistente virtual a medida, según tus necesidades y requerimientos"
      >
        <LaptopIcon />
      </AddToMyBusinessCard>

      <AddToMyBusinessCard
        title="Activación"
        description="Activamos tu asistente virtual en tu WhatsApp, listo para trabajar"
      >
        <WhatsappIcon />
      </AddToMyBusinessCard>

      <AddToMyBusinessCard
        title="Aprovechá"
        description="Aprovechá el tiempo que te sobra gracias a TUBOT, y dedicátelo a vos y a tu negocio"
      >
        <ClockDollarIcon />
      </AddToMyBusinessCard>
    </div>
  </div>
</section>
