---
import AdvantagesCard from "../components/AdvantagesCard.astro";
import Button from "@components/Button.astro";
import SectionHeader from "@components/SectionHeader.astro";
import MetaSvgIcon from "@icons/MetaSvgIcon.astro";

import { Icon } from "astro-icon/components";
---

<section
  class="flex flex-col items-center justify-center bg-background text-center md:py-36"
>
  <div class="container mx-auto w-full md:max-w-6xl">
    <!-- <h1 class="text-xl font-bold tracking-tighter md:text-4xl">
      Descubrí los beneficios de usar <span
        class="font-bold italic text-primary">HERMES</span
      >
    </h1> -->
    <SectionHeader
      title="Ventajas de usar Hermes"
      subtitle="Descubrí los beneficios que trae Hermes a tu negocio"
    />
    <p
      class="mx-auto mb-12 max-w-3xl text-center text-lg text-gray-600 md:text-xl"
    >
      Potenciá tu negocio con Hermes, tu asistente virtual personalizado. Mejorá
      la comunicación, aumentá la eficiencia y ampliá tu alcance con nuestra
      solución inteligente.
    </p>
    <div
      class="mb-12 grid h-full grid-cols-2 items-center justify-center gap-4 p-4 md:grid-cols-3 lg:gap-16"
    >
      <AdvantagesCard
        title="Respuestas ágiles"
        description="Agilidad en las respuestas sin salir de WhatsApp"
      >
        <Icon name="mdi:rocket" class="h-12 w-12 text-primary" />
      </AdvantagesCard>

      <AdvantagesCard
        title="Reducí barreras"
        description="Aprovechá una plataforma globalmente aceptada y reducí la fricción con el usuario"
      >
        <Icon name="mdi:earth" class="h-12 w-12 text-primary" />
      </AdvantagesCard>

      <AdvantagesCard
        title="Siempre disponible"
        description="Trabajamos para que no trabajes, tu asistente estará disponible 24/7"
      >
        <Icon name="mdi:sleep-off" class="h-12 w-12 text-primary" />
      </AdvantagesCard>

      <AdvantagesCard
        title="Meta"
        description="Brindamos soporte para operar a través de Meta, para mejorar la experiencia de tus clientes"
      >
        <MetaSvgIcon />
      </AdvantagesCard>

      <AdvantagesCard
        title="Escalabilidad"
        description="Hermes crece con vos y se adapta a tus nuevos desafíos. Escalabilidad garantizada"
      >
        <Icon name="mdi:trending-up" class="h-12 w-12 text-primary" />
      </AdvantagesCard>

      <AdvantagesCard
        title="Personalizado"
        description="Adaptamos tu asistente para que se ajuste perfectamente a las necesidades específicas de tu negocio"
      >
        <Icon name="mdi:brush" class="h-12 w-12 text-primary" />
      </AdvantagesCard>
    </div>
    <!-- <div class="">
      <Button variant="primary"
        ><span class="text-xs md:text-lg">Transformar tu negocio</span></Button
      >
    </div> -->
    <a
      href="#contact"
      class="group inline-block"
      rel="noopener"
      aria-label="Quiero mi asistente"
    >
      <Button
        variant="primary"
        class="main-cta-button hover:bg-primary-dark transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
      >
        <span class="text-sm tracking-wide sm:text-base md:text-lg lg:text-xl"
          >¡Pedí tu asistente hoy!</span
        >
      </Button>
    </a>
  </div>
</section>
