---
import AdvantagesCard from "../components/AdvantagesCard.astro";
import Button from "../components/Button.astro";
import RocketIcon from "../components/icons/RocketIcon.astro";
import WorldIcon from "../components/icons/WorldIcon.astro";
import DontSleepIcon from "../components/icons/DontSleepIcon.astro";
import MetaSvgIcon from "../components/icons/MetaSvgIcon.astro";
import BrushIcon from "../components/icons/BrushIcon.astro";
import TrendingUpIcon from "../components/icons/TrendingUpIcon.astro";
---

<section
  class="flex h-screen flex-col items-center justify-center bg-background text-center"
>
  <div class="container mx-auto w-full md:max-w-6xl">
    <!-- <h1 class="text-xl font-bold tracking-tighter md:text-4xl">
      Descubrí los beneficios de usar <span
        class="font-bold italic text-primary">HERMES</span
      >
    </h1> -->
    <div
      class="grid h-full grid-cols-2 items-center justify-center gap-4 p-4 md:grid-cols-3 lg:gap-16"
    >
      <AdvantagesCard
        title="Respuestas ágiles"
        description="Agilidad en las respuestas sin salir de WhatsApp"
      >
        <RocketIcon />
      </AdvantagesCard>

      <AdvantagesCard
        title="Reduce barreras"
        description="Aprovecha una plataforma globalmente aceptada y reducí la fricción con el usuario"
      >
        <WorldIcon />
      </AdvantagesCard>

      <AdvantagesCard
        title="Siempre disponible"
        description="Trabajamos para que no trabajes, tu asistente estará disponible 24/7"
      >
        <DontSleepIcon />
      </AdvantagesCard>

      <AdvantagesCard
        title="Meta"
        description="Brindamos soporte para operar a través de Meta, asegurando estabilidad y evitando bloqueos inesperados"
      >
        <MetaSvgIcon />
      </AdvantagesCard>

      <AdvantagesCard
        title="Crece con tu negocio"
        description="Hermes crece con vos y se adapta a tus nuevos desafíos."
      >
        <TrendingUpIcon />
      </AdvantagesCard>

      <AdvantagesCard
        title="Personalizado"
        description="Adaptamos tu asistente para que se ajuste perfectamente a las necesidades específicas de tu negocio"
      >
        <BrushIcon />
      </AdvantagesCard>
    </div>
    <!-- <div class="">
      <Button variant="primary"
        ><span class="text-xs md:text-lg">Transformar tu negocio</span></Button
      >
    </div> -->
  </div>
</section>
