---
import Button from "../components/Button.astro";
import MetaLogo from "../images/Meta-Logo.png";
import juanbbweb from "../images/webm/phone.webm";
import { Image } from "astro:assets";

const businessTypes = [
  "negocio",
  "salón de belleza",
  "consultorio",
  "cancha de fútbol",
  "gimnasio",
  "tienda de ropa",
  "peluquería",
  "restaurante",
  "clínica",
  "hostel",
  "pizzería",
];

// Initial values
const initialBusinessName = businessTypes[0];
---

<section
  class="flex flex-col justify-center bg-secondary px-4 text-center tracking-tighter md:h-dvh md:max-h-screen md:min-h-screen md:text-left"
  aria-label="Hero Section"
>
  <div
    class="container mx-auto h-full w-full md:grid md:grid-cols-12 md:items-stretch md:gap-4"
  >
    <div class="flex h-full flex-col justify-center p-4 sm:p-0 md:col-span-8">
      <h1
        class="animate-fade-in text-4xl font-bold italic text-primary sm:text-5xl md:text-7xl lg:text-9xl"
      >
        HERMES
      </h1>
      <p
        class="animate-fade-in animate-delay-200 mt-4 text-xl sm:text-2xl md:text-3xl lg:text-5xl 2xl:text-6xl"
      >
        Tu <span
          id="businessType"
          class="font-bold italic text-primary transition-opacity duration-500 ease-in-out"
          >{initialBusinessName}</span
        ><br /> ahora más cerca de tus clientes
      </p>
      <p
        class="animate-fade-in animate-delay-600 mt-4 text-lg md:text-2xl 2xl:text-4xl"
      >
        Con tu nuevo asistente, optimizá tu tiempo y automatizá tareas
      </p>

      <!-- Meta -->
      <div
        class="md:text-md animate-fade-in animate-delay-800 mt-6 flex h-12 items-center justify-center gap-2 font-bold text-text md:justify-start"
      >
        Contamos con soporte para <Image
          src={MetaLogo}
          alt="Meta Logo"
          class="aspect-auto h-full w-min"
        />
      </div>

      <!-- Botones -->
      <div
        class="animate-fade-in animate-delay-1000 mt-6 flex flex-col gap-2 md:flex-row md:gap-8"
      >
        <a href="#pricing" class="" aria-label="Quiero mi asistente">
          <Button variant="primary">
            <span class="text-sm tracking-wide lg:text-lg"
              >Quiero mi asistente</span
            >
          </Button>
        </a>
        <a href="#contact" class="" aria-label="Comunicarme con ventas">
          <Button class="whitespace-nowrap" variant="secondary">
            <span class="px-2 text-sm tracking-wide lg:text-lg"
              >Comunicarme con ventas</span
            >
          </Button>
        </a>
      </div>
    </div>
    <div
      class="animate-delay-1200 animate-fade-in mt-6 flex h-full items-end md:col-span-4 md:mt-0 md:p-0"
    >
      <video
        id="phoneScreen"
        src={juanbbweb}
        mediagroup="phoneScreen"
        autoplay
        loop
        muted
        playsinline
        class="h-full rounded-xl object-contain"
        aria-label="Phone screen example"></video>
    </div>
  </div>

  <style>
    :root {
      --fade-in-duration: 0.5s;
      --fade-in-ease: ease-out;
      --fade-in-opacity: 0;
      --fade-in-transform: translateY(20px);
    }

    @keyframes fadeIn {
      from {
        opacity: var(--fade-in-opacity);
        transform: var(--fade-in-transform);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .animate-fade-in {
      animation: fadeIn var(--fade-in-duration) var(--fade-in-ease) forwards;
      opacity: var(--fade-in-opacity);
    }

    .animate-delay-200 {
      animation-delay: 0.2s;
    }
    .animate-delay-400 {
      animation-delay: 0.4s;
    }
    .animate-delay-600 {
      animation-delay: 0.6s;
    }
    .animate-delay-800 {
      animation-delay: 0.8s;
    }
    .animate-delay-1000 {
      animation-delay: 1s;
    }
    .animate-delay-1200 {
      animation-delay: 1.2s;
    }
  </style>

  <script>
    const businessTypes = [
      "negocio",
      "cancha de fútbol",
      "tienda",
      "consultorio",
      "taller",
      "gimnasio",
    ];

    let currentIndex = 0;

    function updateContent() {
      const businessTypeElement = document.getElementById("businessType");

      if (businessTypeElement) {
        businessTypeElement.style.opacity = "0";

        setTimeout(() => {
          businessTypeElement.textContent = businessTypes[currentIndex];
          businessTypeElement.style.opacity = "1";
        }, 250);
      }

      currentIndex = (currentIndex + 1) % businessTypes.length;
    }

    setInterval(updateContent, 3000);
  </script>
</section>
