---
import WhatsappLinkWrapper from "@components/WhatsappLinkWrapper.astro";
import Button from "../components/Button.astro";
import MetaLogo from "../images/Meta-Logo.png";
import juanbbweb from "../images/webm/phone.webm";
import { Image } from "astro:assets";

const businessTypes = [
  "negocio",
  "cancha de fútbol",
  "tienda",
  "consultorio",
  "taller",
  "gimnasio",
];

const initialBusinessName = businessTypes[0];
---

<section
  class="relative flex flex-col justify-center px-4 text-center tracking-tighter md:h-dvh md:max-h-screen md:min-h-screen md:text-left"
  aria-label="Hero Section"
>
  <div
    class="container relative z-10 mx-auto h-full w-full md:grid md:grid-cols-12 md:items-stretch md:gap-4"
  >
    <div class="flex h-full flex-col justify-center p-4 sm:p-0 md:col-span-8">
      <h1
        class="animate-fadeIn text-5xl font-bold italic text-primary sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl"
      >
        HERMES
      </h1>
      <p
        class="animate-fadeIn animate-delay-200 mt-4 text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl"
      >
        Tu <span
          id="businessType"
          class="font-bold italic text-primary transition-opacity duration-500 ease-in-out"
          >{initialBusinessName}</span
        ><br /> ahora más cerca de tus clientes, gracias a nuestro asistente
      </p>

      <!-- <div
        class="animate-fadeIn animate-delay-800 mt-6 flex h-12 items-center justify-center gap-2 text-sm font-bold text-text sm:text-base md:justify-start md:text-lg lg:text-xl"
      >
        Contamos con soporte oficial para <Image
          src={MetaLogo}
          alt="Meta Logo"
          class="aspect-auto h-full w-min"
        />
      </div> -->
      <div
        class="animate-fadeIn animate-delay-1000 mt-6 flex flex-col gap-2 md:flex-row md:gap-8"
      >
        <div class="group inline-block">
          <WhatsappLinkWrapper>
            <Button
              variant="primary"
              class="main-cta-button hover:bg-primary-dark transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
            >
              <span
                class="text-sm tracking-wide sm:text-base md:text-lg lg:text-xl"
                >¡Probá gratis por 30 días!</span
              >
            </Button>
          </WhatsappLinkWrapper>
        </div>
        <a
          href="#contact"
          class=""
          aria-label="Contacto"
          rel="noopener noreferrer"
        >
          <Button class="whitespace-nowrap" variant="secondary">
            <span
              class="px-2 text-sm tracking-wide sm:text-base md:text-lg lg:text-xl"
              >Contacto</span
            >
          </Button>
        </a>
      </div>
    </div>
    <div
      class="animate-fadeIn animate-delay-1200 z-10 mt-6 flex h-full items-end md:col-span-4 md:mt-0 md:p-0"
    >
      <video
        id="phoneScreen"
        src={juanbbweb}
        mediagroup="phoneScreen"
        autoplay
        loop
        muted
        playsinline
        class="z-20 h-full rounded-xl object-contain"
        aria-label="Phone screen example"></video>
    </div>
  </div>
</section>
<div class="absolute inset-x-0 bottom-0 w-full overflow-hidden">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
    class="h-auto w-full"
  >
    <path
      fill="#f0fdf4"
      fill-opacity="1"
      d="M0,288L48,293.3C96,299,192,309,288,277.3C384,245,480,171,576,144C672,117,768,139,864,133.3C960,128,1056,96,1152,74.7C1248,53,1344,43,1392,37.3L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    >
      <animate
        attributeName="d"
        dur="10s"
        repeatCount="indefinite"
        values="
          M0,288L48,293.3C96,299,192,309,288,277.3C384,245,480,171,576,144C672,117,768,139,864,133.3C960,128,1056,96,1152,74.7C1248,53,1344,43,1392,37.3L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z;
          M0,256L48,240C96,224,192,192,288,192C384,192,480,224,576,234.7C672,245,768,235,864,224C960,213,1056,203,1152,186.7C1248,171,1344,149,1392,138.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z;
          M0,288L48,293.3C96,299,192,309,288,277.3C384,245,480,171,576,144C672,117,768,139,864,133.3C960,128,1056,96,1152,74.7C1248,53,1344,43,1392,37.3L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></animate>
    </path>
  </svg>
</div>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
  }

  .animate-delay-200 {
    animation-delay: 0.2s;
  }
  .animate-delay-400 {
    animation-delay: 0.4s;
  }
  .animate-delay-600 {
    animation-delay: 0.6s;
  }
  .animate-delay-800 {
    animation-delay: 0.8s;
  }
  .animate-delay-1000 {
    animation-delay: 1s;
  }
  .animate-delay-1200 {
    animation-delay: 1.2s;
  }

  .group:hover .main-cta-button {
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(var(--color-primary-rgb), 0.7);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(var(--color-primary-rgb), 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(var(--color-primary-rgb), 0);
    }
  }
</style>

<script>
  const businessTypes = [
    "negocio",
    "cancha de fútbol",
    "tienda",
    "consultorio",
    "taller",
    "gimnasio",
  ];

  let currentIndex = 0;
  const businessTypeElement = document.getElementById("businessType");

  function updateContent() {
    if (businessTypeElement) {
      businessTypeElement.style.opacity = "0";

      setTimeout(() => {
        businessTypeElement.textContent = businessTypes[currentIndex];
        businessTypeElement.style.opacity = "1";
        currentIndex = (currentIndex + 1) % businessTypes.length;
      }, 250);
    }
  }

  setInterval(updateContent, 3000);
</script>
