---
import { Icon } from "astro-icon/components";

const features = [
  {
    icon: "mdi:robot",
    title: "Optimiza tu servicio",
    description:
      'Los chatbots reducen hasta un <span class="text-2xl font-bold text-primary">30%</span> los costes de atención al cliente, mejorando la eficiencia operativa.',
  },
  {
    icon: "mdi:message-text",
    title: "Conecta donde importa",
    description:
      'El <span class="text-2xl font-bold text-primary">65%</span> de los consumidores prefiere contactar con las empresas a través de aplicaciones de mensajería. Estamos donde tus clientes están.',
  },
  {
    icon: "mdi:clock-fast",
    title: "Responde rápido",
    description:
      'El <span class="text-2xl font-bold text-primary">53%</span> de los consumidores considera frustrante esperar demasiado por respuestas. Con Hermes, tus clientes obtienen respuestas inmediatas.',
  },
];
---

<section class="bg-green-50 py-16 md:py-4">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <header class="mb-16 text-center">
      <h2 class="text-4xl font-extrabold tracking-tight md:text-6xl">
        Somos <span class="text-primary">Hermes</span>
      </h2>
      <p class="mt-4 text-xl text-gray-600 md:text-2xl">
        Tu aliado en la Comunicación Digital
      </p>
    </header>
    
    <p class="mx-auto mb-16 max-w-3xl text-center text-lg text-gray-600 md:text-xl">
      Nuestra misión es revolucionar tus operaciones empresariales a través de
      WhatsApp. Diseñamos asistentes virtuales inteligentes y personalizados
      para emprendimientos, pequeñas y medianas empresas, potenciando tu
      eficiencia y alcance.
    </p>
    
    <div class="grid gap-12 md:grid-cols-3">
      {features.map((feature) => (
        <div class="flex flex-col items-start">
          <div class="mb-4 flex items-center">
            <div class="mr-4 rounded-full bg-primary-light p-3 text-primary">
              <Icon name={feature.icon} class="h-8 w-8" />
            </div>
            <h4 class="text-2xl font-bold">{feature.title}</h4>
          </div>
          <p class="text-lg text-gray-600" set:html={feature.description} />
        </div>
      ))}
    </div>
  </div>
</section>
