---

---

<section class="py-12 md:py-24">
  <div class="container mx-auto">
    <div class="gap-4 px-4 sm:gap-8 sm:px-0">
      <header class="my-6">
        <h2 class="text-left text-3xl font-bold md:text-5xl">
          Somos
          <span class="font-semibold italic text-primary">Hermes</span>
        </h2>
      </header>
      <p class="mb-12 text-left text-lg md:text-xl">
        Nuestro objetivo es agilizar todas tus operaciones a través de WhatsApp.
        Ofrecemos asistentes personalizados para emprendimientos y para pequeñas
        y medianas empresas.
      </p>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div class="mb-4">
          <p class="text-lg md:text-xl">
            Los chatbots ahorran a las empresas
            <span class="text-2xl font-bold text-primary md:text-3xl">30%</span>
            en costes de atención al cliente.
          </p>
        </div>
        <div>
          <p class="text-lg md:text-xl">
            El
            <span class="text-2xl font-bold text-primary md:text-3xl">65%</span>
            de los consumidores utiliza las aplicaciones de mensajería para contactarse
            con el equipo de atención al cliente.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
