---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource/ubuntu/300-italic.css";
import "@fontsource/ubuntu/400-italic.css";
import "@fontsource/ubuntu/500-italic.css";
import "@fontsource/ubuntu/700-italic.css";
import "@fontsource/ubuntu/300.css";
import "@fontsource/ubuntu/400.css";
import "@fontsource/ubuntu/500.css";
import "@fontsource/ubuntu/700.css";

import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Hermes - Tu nuevo asistente" />
    <meta
      name="description"
      content="Hermes es tu asistente virtual para agilizar tu negocio. Descubrí como puede ayudarte a mejorar la eficiencia y el servicio al cliente."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="stovia.uno" />
    <meta property="og:title" content="Hermes - Tu nuevo asistente" />
    <meta
      property="og:description"
      content="Hermes es tu asistente virtual para agilizar tu negocio. Descubrí como puede ayudarte a mejorar la eficiencia y el servicio al cliente."
    />
    <meta property="og:image" content="/images/hermes-image.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="stovia.uno" />
    <meta property="twitter:title" content="Hermes - Tu nuevo asistente" />
    <meta
      property="twitter:description"
      content="Hermes es tu asistente virtual para agilizar tu negocio. Descubrí como puede ayudarte a mejorar la eficiencia y el servicio al cliente."
    />
    <meta property="twitter:image" content="/images/hermes-image.png" />

    <!-- Meta Tags Generated with https://metatags.io -->

    <ViewTransitions />
  </head>
  <body class="flex flex-col border border-purple-300 bg-background text-text">
    <!-- <NavBar /> -->
    <div class="grow">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  .grecaptcha-badge {
    visibility: hidden;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #fffcf2;
    color: #252422;
    scroll-behavior: smooth;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  body {
    font-family: "Ubuntu", sans-serif;
  }

  @keyframes marquee {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 10s linear infinite;
    display: flex;
    align-items: center;
  }

  .animate-marquee p {
    white-space: nowrap;
    padding-right: 1rem;
  }
</style>
